<a href="https://colab.research.google.com/github/imchinmay/Python/blob/main/01_Basics/24_Pandas_Inspection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Inspection

Load in the data.

In [37]:
# Install datasets Library (if not already installed)
# !pip install -U datasets

# Importing Libraries
import pandas as pd
from datasets import load_dataset

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

## View

### Notes

- View the first rows of data in the DataFrame using `head()`.
- View the last few rows of the DataFrame using `tail()`.

These are used to get a quick view of the data frame. Good for exploratory analysis and understanding the data.

### Examples

Let's look at the first few rows of our DataFrame using `head()` and `tail()`.

### Head()

Let's look at the DataFrame with `head()`.

In [38]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."

You can also specify the number of rows you want to look at. Here we want to look at the first 3 rows using `head()`.

In [39]:
df.head(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."

In [40]:
df['job_country'].head(3)

0    United States
1           Mexico
2          Germany
Name: job_country, dtype: object

In [41]:
df[['job_country', 'job_title']].head(3)

     job_country                                          job_title
0  United States  Senior Clinical Data Engineer / Principal Clin...
1         Mexico                                       Data Analyst
2        Germany  Data Engineer/Scientist/Analyst, Mid or Senior...

### Tail()

Now let's look at the last few rows using `tail()`.

In [42]:
df.tail()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

Now let's look at the last 10 rows with `tail()`.

In [43]:
df.tail(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
785731,Data Engineer,Data Engineer,"Overland Park, Kansas, Amerika Serikat",melalui LinkedIn,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:17,False,False,Sudan,None,NaN,NaN,Shamrock Trading Corporation,"['nosql', 'mongodb', 'mongodb', 'python', 'ela...","{'analyst_tools': ['excel'], 'cloud': ['aws', ..."
785732,Data Engineer,Data Engineer (f/m/d),"Heidelberg, Jerman",melalui Top County Careers,Pekerjaan tetap,False,Germany,2023-03-13 06:18:59,False,False,Germany,None,NaN,NaN,Heidelberg Materials,"['python', 'c#', 'java', 'scala', 'sql', 'post...","{'cloud': ['azure', 'databricks'], 'databases'..."
785733,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:17,False,False,Singapore,None,NaN,NaN,Hydra X Pte. Ltd.,"['docker', 'kubernetes']","{'other': ['docker', 'kubernetes']}"
785734,Business Analyst,PreSales Engineer,"Almaty, Kazakhstan",melalui Melga,Pekerjaan tetap,False,Kazakhstan,2023-03-12 06:31:13,False,False,Kazakhstan,None,NaN,NaN,Staff-UP Consulting Group,['windows'],{'os': ['windows']}
785735,Senior Data Engineer,Senior Data Engineer,"Berlin, Jerman",melalui Top County Careers,Pekerjaan tetap,False,Germany,2023-03-13 06:19:07,False,False,Germany,None,NaN,NaN,Pure App,"['sql', 'python', 'bigquery', 'aws', 'airflow'...","{'cloud': ['bigquery', 'aws'], 'libraries': ['..."
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

## Get Info

### Notes

To get a concise summary for the DataFrame we'll be using `df.info`.

This gives us:
- Total number of entries
- Number of columns
- Column name
- Count of non-null items in each column
- Data type of each column

Useful for exploring the data and getting a quick glance at the dataset.

### Example

Use the `info()` on our DataFrame.

**Note**: For our DataFrame the column `job_posted_date` isn't a datetime object but we'll fix this later.

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [45]:
df.describe()

       salary_year_avg  salary_hour_avg
count     22003.000000     10662.000000
mean     123286.274072        47.016598
std       48312.449482        21.890738
min       15000.000000         8.000000
25%       90000.000000        27.500000
50%      115000.000000        45.980000
75%      150000.000000        61.159996
max      960000.000000       391.000000

In [46]:
df['job_title_short'].unique()

array(['Senior Data Engineer', 'Data Analyst', 'Data Engineer',
       'Business Analyst', 'Data Scientist', 'Machine Learning Engineer',
       'Senior Data Analyst', 'Cloud Engineer', 'Senior Data Scientist',
       'Software Engineer'], dtype=object)

But there are other ways to get an overview of the DataFrame. Like:
- `len(df)` - Get length of DataFrame
- `df.shape` - Get the (rows, columns)
- `df.index` - Describe index
- `df.columns` - Describe DataFrame columns
- `df.count()` - Number of non-NA values
- `df['column_name'].unique()` - The number of distinct values in a column

## Accessing the Data

### Variables (Columns)

#### Notes
- In dataframes columns are called variables.
- To look at a specific column you could use `df['column_name']` or `df.column_name`.
- Useful if you want to only look at a few columns in your dataframe, especially if your dataframe is particularly large.

#### Example

In [47]:
df.job_title

0         Senior Clinical Data Engineer / Principal Clin...
1                                              Data Analyst
2         Data Engineer/Scientist/Analyst, Mid or Senior...
3         LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4                                    Data Engineer- Sr Jobs
                                ...
785736                                      DevOps Engineer
785737                                     CRM Data Analyst
785738                       Commercial Analyst - Start Now
785739    Principal Associate, Data Engineer (Remote-Eli...
785740                                   AWS System Analyst
Name: job_title, Length: 785741, dtype: object

What if you want to look at several columns at once? Like you would with `SELECT column_name1, column_name2` in SQL? You can put list your column names within another bracket. Like this:

```python
df[['column_name1', 'column_name2']]
```

To look at `job_title` and `job_location` columns.

🪲 **Debugging**

**These are intentional mistakes**

This is used to demonstrate debugging.

Error: Forgot an end bracket `]`.


```python
df[['job_title', 'job_location']
```

Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
  1. Use a chatbot like ChatGPT or Claude
  2. Look it up using Google

In [50]:
df[['job_title', 'job_location']]

,job_title,job_location
0,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT"
1,Data Analyst,"Guadalajara, Jalisco, Mexico"
2,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany"
3,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX"
4,Data Engineer- Sr Jobs,"Washington, DC"
...,...,...
785736,DevOps Engineer,Singapura
785737,CRM Data Analyst,"Bad Rodach, Jerman"
785738,Commercial Analyst - Start Now,Malaysia
785739,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat"
785740,AWS System Analyst,India

This is the correct code ✅.

In [51]:
df[['job_title', 'job_location']]

,job_title,job_location
0,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT"
1,Data Analyst,"Guadalajara, Jalisco, Mexico"
2,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany"
3,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX"
4,Data Engineer- Sr Jobs,"Washington, DC"
...,...,...
785736,DevOps Engineer,Singapura
785737,CRM Data Analyst,"Bad Rodach, Jerman"
785738,Commercial Analyst - Start Now,Malaysia
785739,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat"
785740,AWS System Analyst,India

### Observations (Rows)

#### Notes

* In DataFrames rows are called observations.
* To view rows by index you can use `iloc[]`.
    * `iloc[]` has more capabilities which we will be going into later in the advanced section.

#### Example

Let's look at the second row, which has the index of 1 (remember indexes start at 0).

In [52]:
df.iloc[1]

job_title_short                                               Data Analyst
job_title                                                     Data Analyst
job_location                                  Guadalajara, Jalisco, Mexico
job_via                                                   via BeBee México
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                     Mexico
job_posted_date                                        2023-01-14 13:18:07
job_no_degree_mention                                                False
job_health_insurance                                                 False
job_country                                                         Mexico
salary_rate                                                           None
salary_year_avg                                                        NaN
salary_hour_avg                                                        NaN
company_name                                    Hewlett Packard Enterprise
job_skills               ['r', 'python', 'sql', 'nosql', 'power bi', 't...
job_type_skills          {'analyst_tools': ['power bi', 'tableau'], 'pr...
Name: 1, dtype: object

Is this correct? Let's use `df.head()` to look at the first 5 rows and confirm that the second row (with index 1) is correct.

In [ ]:
df.head()

To look at more than one row at once we can use `iloc[]` with more than one index listed. So to look at the 2nd - 5th row (index 1 to 4). We need to use `[2:5]`. The second index number is not inclusive. So this lists index: 2, 3, and 4. Excluding index 5.

In [ ]:
df.iloc[2:5]

#### Filtering Rows

##### Notes

* You can also filter by rows by applying a condition inside brackets `[]`.
* With this syntax: `df[df['column_name'] > value]`.
    * The `>` can be any conditional operator like: `>`, `<`, `==`, etc.

##### Example

Let's only return rows that have an `salary_year_avg` greater than 100000.

🪲 **Debugging**

**These are intentional mistakes**

This is used to demonstrate debugging.

Error: End bracket `]` is in the correct location.

```python
df[df['salary_year_avg']] > 100000
```

Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
  1. Use a chatbot like ChatGPT or Claude
  2. Look it up using Google

In [ ]:
df[df['salary_year_avg']] > 100000

This is the correct code ✅.

In [ ]:
df[df['salary_year_avg'] > 100000]

What if I only wanted to look at rows where the job title (`job_title_short`) is 'Business Analyst'?

In [ ]:
df[df['job_title_short'] == 'Business Analyst']

## Find Not NA Values

### Notes

* `pd.notna()` - displays if the values are not NA (missing values).
* It returns a Boolean same-sized object indicating if the values are not NA.
    * Non-missing values are `True`
    * Missing values are `False`
* Good for data preprocessing to remove or fill missing values, or to make decisions based on the presence of data.

### Example

Let's only get rows where it has a yearly salary listed. Meaning that `salary_year_avg` is not null.

In [ ]:
df[df['salary_year_avg'].notna()]

You can apply this to multiple columns as well. Only return rows where the columns: `salary_year_avg` and `job_skills` are not null.

In [ ]:
df[df[['salary_year_avg', 'job_skills']].notna().all(axis=1)]

And you can apply this to the entire DataFrame to get a boolean DataFrame indicating where values aren't missing.

In [ ]:
df.notna()

# My Work

In [ ]:
df

In [ ]:
df.iloc[0:3,0:2]

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df[['job_title_short','salary_year_avg']].iloc[90:110]

In [ ]:
df.job_title_short.unique()

In [ ]:
df[(df.job_title_short == 'Data Analyst') & (df.salary_year_avg.notna()) ]